ul#menu li {
  display: inline-block;
  float: right;
  position: relative;
  margin-top: 28px;
  margin-left: 10px;
  margin-right: 35px;
}

ul#menu li a {
  text-decoration: none;
  color: #808080;
  font-family: "Helvetica Neue";
  font-size: 15px;
}

#backgroundimage {
  background: url("./mac.jpg");
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  background-position: 0 200px;
}
